/* rating trigger image */
.js .radio-rater, .radio-rater a:hover, .radio-rater a:active, .radio-rater a:focus, .radio-rater .current {
	background:transparent url(../images/radio-rater/star.gif) repeat-x scroll 0 0;
}
/* unrating trigger image */
.js .radio-rater .unrate a {
	background-image: url(../images/radio-rater/delete.gif);
}
.js .radio-rater {
	background-position:left top;
	height:16px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
}

.js .radio-rater a, .radio-rater .current {
	height:16px;
	line-height:16px;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	overflow:hidden;
	position:absolute;
	text-indent:-1000em;
	top:0;
	left:0;
}

.js .radio-rater li {
	display:inline;
	cursor: pointer;
}

.js .radio-rater a:hover, .radio-rater a:active, .radio-rater a:focus {
	background-position:0 100%;
}
.js .radio-rater .current {
	background-position:left center;
	width: 0%;
}